* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('/images/app/back.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.bodylog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    /* sir lai dekhauney */
    height: 450px;
}

.content-box {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.571);
}

.info-box, .login-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.571);
    border-radius: 8px;
}

.info-box {
    margin-right: 15px;
}

.info-image {
    width: 100%;
    max-width: 500px; 
    height: 300px;
    border-radius: 8px;
    object-fit: contain;
}

.info-text {
    margin-top: 8px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.login-box {
    max-width: 400px;
}

.login-header h2 {
    margin-bottom: 20px;
    color: #333;
}

.textbox {
    margin-bottom: 15px;
    width: 100%;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #1414d6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #000;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #fff;
    color:blue;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.links {
    margin-top: 15px;
    text-align: center;
}

.links p {
    display: inline;
    margin-right: 5px;
}

.links a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}
