* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    color: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    max-height: 50px;
}

.search-bar form {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 600px; /* Increased width for the search bar */
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s;
}

/* Sell for Free button */
.nav-link.sell {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    position: relative; /* Added position relative for pseudo-element positioning */
}


.nav-link.sell:hover {
    background-color: #000;
    color: #fff;
}


/* Sign Up button */
.nav-link.signup {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.nav-link.signup:hover {
    background-color: #fff;
    color: #000;
}
.divider {
    font-size: 30px;
    color: #fff; 
    margin: 0 10px; 
}
